@import '~bootstrap/scss/dropdown';

.dropdown {
  .dropdown-toggle {
    .icon-caret {
      transform: rotate(0);
      transition: $transition-base;
    }
  }

  &.show {
    .dropdown-toggle {
      .icon-caret {
        transform: rotate(-180deg);
      }
    }
  }
}
