@import '~bootstrap/scss/utilities';

img.embed-responsive-item {
  object-fit: cover;
}

.object-fit-cover {
  object-fit: cover !important;
}

.object-fit-contain {
  object-fit: contain !important;
}
